DEBUG=true
SECRET_KEY=key
TKGI_CLIENT_ID=admin
TKGI_CLIENT_SECRET=secret
TKGI_UAA_URL=https://api.domain.com:8443
TKGI_API_URL=https://api.domain.com:9021
TKGI_CA_CERT=cacert
TKGI_CLUSTER_CLIENT_ID=tkgi

OIDC_AUTH_ENDPOINT=https://keycloak.apps.domain.com/auth/realms/master
OIDC_OP_JWKS_ENDPOINT=https://keycloak.apps.domain.com/auth/realms/master/protocol/openid-connect/certs
OIDC_RP_CLIENT_ID=tkgi-ui
OIDC_RP_CLIENT_SECRET=secret
OIDC_OP_AUTHORIZATION_ENDPOINT=https://keycloak.apps.domain.com/auth/realms/master/protocol/openid-connect/auth
OIDC_OP_TOKEN_ENDPOINT=https://keycloak.apps.domain.com/auth/realms/master/protocol/openid-connect/token
OIDC_OP_USER_ENDPOINT=https://keycloak.apps.domain.com/auth/realms/master/protocol/openid-connect/userinfo